[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websocket-client = "==0.56.0"
certstream = "*"
elasticsearch = "*"

[dev-packages]

[requires]
python_version = "3.7"
